apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nemo-core.logsidecar-configmap" . }}
data:
  fluent-bit.yaml: |
    service:
      flush: 1
      grace: 15
      http_server: on
      health_check: on
      storage.backlog.flush_on_shutdown: on

    pipeline:
      inputs:
        - name: tail
          tag: '*'
          # The log path follows the standard convention for Kubernetes logs on the host
          # The NEMO_JOB_TASK is the pod uid.
          path: '/var/log/pods/${POD_NAMESPACE}_${POD_NAME}_${NEMO_JOB_TASK}/nemo-job-task/*.log'
          multiline.parser: docker, cri
          mem_buf_limit: '100MB'
          skip_long_lines: On
          refresh_interval: 1
          inotify_watcher: false

          processors:
            logs:
              - name: opentelemetry_envelope
              - name: content_modifier
                context: otel_resource_attributes
                action: upsert
                key: service.name
                value: nemo

              - name: content_modifier
                context: otel_resource_attributes
                action: upsert
                key: job_id
                value: ${NEMO_JOB_ID}

              - name: content_modifier
                context: otel_resource_attributes
                action: upsert
                key: job_step
                value: ${NEMO_JOB_STEP}

              - name: content_modifier
                context: otel_resource_attributes
                action: upsert
                key: job_task
                value: ${NEMO_JOB_TASK}

      outputs:
        - name: opentelemetry
          match: '*'
          host: {{ include "nemo-core.logcollector-servicename" . }}
          port: 4318
          logs_uri:      /v1/logs
          logs_body_key: log
          logs_attributes_metadata_key: attrs
