
apiVersion: v1
kind: Service
metadata:
  name: {{ include "nemo-common.servicename" . }}
  labels:
    {{- include "helm.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    # If extproc is enabled, then assume Guardrails is being deployed as a Envoy filter extension.
    # In this mode, users don't talk to Guardrails directly, but rather through Envoy. 
    # Therefore, we don't need to expose Guardrails MS's port.
    # For normal deployment, we don't expose the gRPC port because we don't run the gRPC container.
    {{- if .Values.guardrailsExtProc.enabled }}
    - name: guardrails-extproc
      port: 8443
      targetPort: grpc
      protocol: TCP
      appProtocol: HTTP2
    {{- else }}
    - name: guardrails-ms
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
    {{- end }}
  selector:
    {{- include "helm.selectorLabels" . | nindent 4 }}
